/* Custom Variables */

:root {
  --clr-text: #130f08;
  --clr-primary: #78624a;
  --clr-accent: #d8c2aa;

  --ff-title: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --ff-verdana: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --ff-logo: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-verdana);
  color: var(--clr-text);
  font-size: 1.125 rem;
}

body {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 3em 1em;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
  letter-spacing: 1px;
}

h2 {
  font-size: 4rem;
}

p {
  margin-bottom: 0.85em;
}

img {
  padding: 1em 0 2em;
}

.section-title-small {
  font-size: 3rem;
}

.section-title-small small {
  font-size: 0.7em;
  display: block;
}

/* Naviagation */

header {
  padding: 1em 0 2em;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: var(--clr-primary);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: var(--clr-accent);
  text-decoration: underline;
}

/* Buttons */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.btn {
  padding: 0.75em 2.5em;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em 0;
  border-radius: 0.35em;
}

.btn-primary {
  background-color: var(--clr-primary);
}

/* Styling */

.hero {
  background-color: #555;
  background-image: url(../images/chand.jpg);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: var(--clr-accent);
  padding: 5vh 1em;
}

.about-us {
  background-color: var(--clr-accent);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

.about-us__intro {
  background-image: url(/Casino-Aurore-Wyng/images/chand.jpg);
  padding: 3em 1em 1em;
}

.about-us__body {
  padding: 1em 1em 3em;
}

.casino {
  background: #faf7f5;
}

.casino-image-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.drinks {
  display: flex;
  flex-direction: column;
}

.drink {
  background: #faf7f5;
  padding: 1em;
  border-radius: 0.35em;
}

.drink__content {
  padding: 1.5em;
}

.drink__title {
  color: var(--clr-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

footer {
  background: #333;
  padding: 3em 1em;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

footer a {
  color: inherit;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav a {
  padding: 0.75em;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}
